# Feature Selection & Cleaning
Data-batch 2 of 3.

## Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sb
import warnings

%matplotlib inline

color = sb.color_palette("Set2")[0]
palette = sb.color_palette("Set2")

In [2]:
file_path = 'data/CDSL_01.csv'
data21 = pd.read_csv(file_path, sep=';', encoding = 'ISO-8859-1')
data21.head()

,ï»¿PATIENT ID,EDAD/AGE,SEXO/SEX,DIAG ING/INPAT,F_INGRESO/ADMISSION_D_ING/INPAT,F_ENTRADA_UC/ICU_DATE_IN,F_SALIDA_UCI/ICU_DATE_OUT,UCI_DIAS/ICU_DAYS,RESPIRADOR/MECH.VENT.,F_ALTA/DISCHARGE_DATE_ING,...,SAT_02_PRIMERA/FIRST_URG/EMERG,TA_MAX_PRIMERA/FIRST/EMERG_URG,TA_MIN_PRIMERA/FIRST_URG/EMERG,HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG,FC/HR_ULTIMA/LAST_URG/EMERG,TEMP_ULTIMA/LAST_URG/EMERG,GLU_ULTIMA/LAST_URG/EMERG,SAT_02_ULTIMA/LAST_URG/EMERG,TA_MAX_ULTIMA/LAST_URGEMERG,TA_MIN_ULTIMA/LAST_URG/EMERG
0,1,85,MALE,COVID CONFIRMADO,2020-04-06,NaN,NaN,NaN,SI,2020-04-11,...,95,147,68,1899-12-30 19:12:00,67,36.099998,0,95,147,68
1,2,0,MALE,COVID SOSPECHA,2020-04-08,2020-04-08 14:54:38,2020-04-10 21:24:00,2.0,NaN,2020-04-10,...,0,0,0,NaN,0,0.000000,0,0,0,0
2,3,0,FEMALE,COVID SOSPECHA,2020-04-09,2020-04-09 23:23:09,2020-04-10 21:22:03,1.0,NaN,2020-04-10,...,0,0,0,NaN,0,0.000000,0,0,0,0
3,4,0,MALE,COVID SOSPECHA,2020-04-10,2020-04-10 01:56:08,2020-04-10 21:23:03,0.0,NaN,2020-04-10,...,0,0,0,NaN,0,0.000000,0,0,0,0
4,5,0,FEMALE,COVID SOSPECHA,2020-04-10,2020-04-10 02:14:24,2020-04-11 20:14:02,1.0,NaN,2020-04-11,...,0,0,0,NaN,0,0.000000,0,0,0,0

In [3]:
data21.rename(columns={'ï»¿PATIENT ID': 'IDINGRESO',
                      'EDAD/AGE': 'EDAD',
                      'SEXO/SEX': 'SEX',
                      'MOTIVO_ALTA/DESTINY_DISCHARGE_ING': 'MOTIVO_ALTA_ING',
                      'TA_MAX_PRIMERA/FIRST/EMERG_URG': 'TA_MAX_PRIMERA_URG',
                      'TA_MIN_PRIMERA/FIRST_URG/EMERG': 'TA_MIN_PRIMERA_URG',
                      'TEMP_PRIMERA/FIRST_URG/EMERG': 'TEMP_PRIMERA_URG',
                      'FC/HR_PRIMERA/FIRST_URG/EMERG': 'FC_PRIMERA_URG',
                      'SAT_02_PRIMERA/FIRST_URG/EMERG': 'SAT_02_PRIMERA_URG',
                      'GLU_PRIMERA/FIRST_URG/EMERG': 'GLU_PRIMERA_URG',
                      'UCI_DIAS/ICU_DAYS': 'UCI_DAYS'}, inplace=True)

In [4]:
data21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   IDINGRESO                                   2547 non-null   int64
 1   EDAD                                        2547 non-null   int64
 2   SEX                                         2547 non-null   object
 3   DIAG ING/INPAT                              2547 non-null   object
 4   F_INGRESO/ADMISSION_D_ING/INPAT             2547 non-null   object
 5   F_ENTRADA_UC/ICU_DATE_IN                    228 non-null    object
 6   F_SALIDA_UCI/ICU_DATE_OUT                   228 non-null    object
 7   UCI_DAYS                                    228 non-null    float64
 8   RESPIRADOR/MECH.VENT.                       1360 non-null   object
 9   F_ALTA/DISCHARGE_DATE_ING                   2544 non-null   object
 10  MOTIVO_ALTA_ING                             2498 non-null   object
 11  F_INGRESO/ADMISSION_DATE_URG/EMERG          2457 non-null   object
 12  HORA/TIME_ADMISION/ADMISSION_URG/EMERG      2457 non-null   object
 13  ESPECIALIDAD/DEPARTMENT_URG/EMERG           2457 non-null   object
 14  DIAG_URG/EMERG                              2457 non-null   object
 15  DESTINO/DESTINY_URG/EMERG                   2457 non-null   object
 16  HORA/TIME_CONSTANT_PRIMERA/FIRST_URG/EMERG  2017 non-null   object
 17  TEMP_PRIMERA_URG                            2547 non-null   float64
 18  FC_PRIMERA_URG                              2547 non-null   int64
 19  GLU_PRIMERA_URG                             2547 non-null   int64
 20  SAT_02_PRIMERA_URG                          2547 non-null   int64
 21  TA_MAX_PRIMERA_URG                          2547 non-null   int64
 22  TA_MIN_PRIMERA_URG                          2547 non-null   int64
 23  HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG    2456 non-null   object
 24  FC/HR_ULTIMA/LAST_URG/EMERG                 2547 non-null   int64
 25  TEMP_ULTIMA/LAST_URG/EMERG                  2547 non-null   float64
 26  GLU_ULTIMA/LAST_URG/EMERG                   2547 non-null   int64
 27  SAT_02_ULTIMA/LAST_URG/EMERG                2547 non-null   int64
 28  TA_MAX_ULTIMA/LAST_URGEMERG                 2547 non-null   int64
 29  TA_MIN_ULTIMA/LAST_URG/EMERG                2547 non-null   int64
dtypes: float64(3), int64(12), object(15)
memory usage: 597.1+ KB

In [5]:
# Lab table
warnings.simplefilter('ignore')
file_path = 'data/CDSL_04.csv'
data24 = pd.read_csv(file_path, sep=';', encoding = 'ISO-8859-1', error_bad_lines = False)
data24.head()

b'Skipping line 28039: expected 8 fields, saw 12\nSkipping line 32182: expected 8 fields, saw 12\nSkipping line 44299: expected 8 fields, saw 12\n'
b'Skipping line 90790: expected 8 fields, saw 12\nSkipping line 105234: expected 8 fields, saw 12\nSkipping line 130735: expected 8 fields, saw 10\n'
b'Skipping line 136659: expected 8 fields, saw 10\nSkipping line 140398: expected 8 fields, saw 10\nSkipping line 141687: expected 8 fields, saw 12\nSkipping line 142745: expected 8 fields, saw 12\nSkipping line 170183: expected 8 fields, saw 12\n'
b'Skipping line 223336: expected 8 fields, saw 21\nSkipping line 237392: expected 8 fields, saw 12\n'
b'Skipping line 373889: expected 8 fields, saw 12\nSkipping line 382978: expected 8 fields, saw 10\n'
b'Skipping line 412136: expected 8 fields, saw 12\nSkipping line 419764: expected 8 fields, saw 12\nSkipping line 421226: expected 8 fields, saw 12\nSkipping line 426429: expected 8 fields, saw 11\nSkipping line 444865: expected 8 fields, saw 12\n'
b'Skipping line 470999: expected 8 fields, saw 12\n'
b'Skipping line 524605: expected 8 fields, saw 12\nSkipping line 534535: expected 8 fields, saw 12\nSkipping line 546968: expected 8 fields, saw 12\nSkipping line 564430: expected 8 fields, saw 12\n'

,IDINGRESO,LAB_NUMBER,LAB_DATE,TIME_LAB,ITEM_LAB,VAL_RESULT,UD_RESULT,REF_VALUES
0,1,I-1,08-04-2020,00:00,NEU -- Neutrófilos,9.39,x10e3/µL,(1.5 - 7.5)
1,1,I-1,08-04-2020,00:00,VCM -- Volumen Corpuscular Medio,82.4,fL,(80.0 - 99.0)
2,1,I-1,08-04-2020,00:00,VPM -- Volumen plaquetar medio,10.9,fL,(7.4 - 10.4)
3,1,I-2,07-04-2020,00:00,ADW -- Coeficiente de anisocitosis,14.6,%,(11.5 - 14.5)
4,1,I-2,07-04-2020,00:00,AP -- ACTIVIDAD DE PROTROMBINA,94.0,%,(70.0 - 120.0)

In [6]:
# 
data24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584370 entries, 0 to 584369
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   IDINGRESO   584370 non-null  int64
 1   LAB_NUMBER  584370 non-null  object
 2   LAB_DATE    584370 non-null  object
 3   TIME_LAB    584370 non-null  object
 4   ITEM_LAB    584370 non-null  object
 5   VAL_RESULT  580100 non-null  object
 6   UD_RESULT   545188 non-null  object
 7   REF_VALUES  565633 non-null  object
dtypes: int64(1), object(7)
memory usage: 35.7+ MB

## Cleaning
Table 1 = Main
- Remove the patient who escaped from the hospital and reindex
- Create categorical variabel of "Mortivo_alta" column: "Recovery", "Recovery in Progress", "Death"

Table 6 = Labworks
- Pivot pressumed important lab tests

Combination table
- Combine the main table & the pivoted labworks

In [7]:
# Always clean of copied df
main = data21.copy()
labworks = data24.copy()

In [8]:
# Remove the one patient who escaped from the hospital from main
# drop_idx = main[main.MOTIVO_ALTA_ING == 'Fuga'].index[0]
# main.drop(index = drop_idx, axis=0, inplace=True)

In [9]:
# Test removal
# sum(main[main.index == drop_idx].index == drop_idx)

In [10]:
# Reset index main
main.reset_index(inplace=True)

In [11]:
# Pivot labworks
tests = ['PLAQ -- SISTEMATICO DE SANGRE', 'PCR -- PROTEINA C REACTIVA', 'CREA -- CREATININA', 'LIN -- SISTEMATICO DE SANGRE', 'DD -- DIMERO D']
labworks_ed = labworks[labworks.ITEM_LAB.isin(tests)]
labworks_ed

,IDINGRESO,LAB_NUMBER,LAB_DATE,TIME_LAB,ITEM_LAB,VAL_RESULT,UD_RESULT,REF_VALUES
64,9,I-20,06-05-2020,00:00,CREA -- CREATININA,0.21,mg/dL,(0.5 - 0.9)
82,9,I-26,04-05-2020,00:00,PCR -- PROTEINA C REACTIVA,230.75,mg/L,<5
152,9,I-51,23-04-2020,00:00,DD -- DIMERO D,6822.0,ng/mL,<500
156,9,I-51,23-04-2020,00:00,PCR -- PROTEINA C REACTIVA,21.69,mg/L,<5
232,9,I-75,17-04-2020,00:00,PCR -- PROTEINA C REACTIVA,24.44,mg/L,<5
...,...,...,...,...,...,...,...,...
584259,2563,I-1,29-04-2020,00:00,PCR -- PROTEINA C REACTIVA,43.9,mg/L,<5
584269,2563,I-11,23-04-2020,00:00,DD -- DIMERO D,764.0,ng/mL,<500
584287,2563,I-13,21-04-2020,00:00,DD -- DIMERO D,455.0,ng/mL,<500
584336,2565,I-2,22-04-2020,00:00,PCR -- PROTEINA C REACTIVA,31.44,mg/L,<5
584359,2569,I-3,29-04-2020,00:00,PCR -- PROTEINA C REACTIVA,12.46,mg/L,<5

In [12]:
labworks_ed.ITEM_LAB.unique()

array(['CREA -- CREATININA', 'PCR -- PROTEINA C REACTIVA',
       'DD -- DIMERO D'], dtype=object)

### Feature Reduction

In [13]:
main.head()

,index,IDINGRESO,EDAD,SEX,DIAG ING/INPAT,F_INGRESO/ADMISSION_D_ING/INPAT,F_ENTRADA_UC/ICU_DATE_IN,F_SALIDA_UCI/ICU_DATE_OUT,UCI_DAYS,RESPIRADOR/MECH.VENT.,...,SAT_02_PRIMERA_URG,TA_MAX_PRIMERA_URG,TA_MIN_PRIMERA_URG,HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG,FC/HR_ULTIMA/LAST_URG/EMERG,TEMP_ULTIMA/LAST_URG/EMERG,GLU_ULTIMA/LAST_URG/EMERG,SAT_02_ULTIMA/LAST_URG/EMERG,TA_MAX_ULTIMA/LAST_URGEMERG,TA_MIN_ULTIMA/LAST_URG/EMERG
0,0,1,85,MALE,COVID CONFIRMADO,2020-04-06,NaN,NaN,NaN,SI,...,95,147,68,1899-12-30 19:12:00,67,36.099998,0,95,147,68
1,1,2,0,MALE,COVID SOSPECHA,2020-04-08,2020-04-08 14:54:38,2020-04-10 21:24:00,2.0,NaN,...,0,0,0,NaN,0,0.000000,0,0,0,0
2,2,3,0,FEMALE,COVID SOSPECHA,2020-04-09,2020-04-09 23:23:09,2020-04-10 21:22:03,1.0,NaN,...,0,0,0,NaN,0,0.000000,0,0,0,0
3,3,4,0,MALE,COVID SOSPECHA,2020-04-10,2020-04-10 01:56:08,2020-04-10 21:23:03,0.0,NaN,...,0,0,0,NaN,0,0.000000,0,0,0,0
4,4,5,0,FEMALE,COVID SOSPECHA,2020-04-10,2020-04-10 02:14:24,2020-04-11 20:14:02,1.0,NaN,...,0,0,0,NaN,0,0.000000,0,0,0,0

In [14]:
# Main
keep_list = ['EDAD', 'SEX', 'IDINGRESO',
             'TA_MAX_PRIMERA_URG', 'TA_MIN_PRIMERA_URG',
             'TEMP_PRIMERA_URG', 'FC_PRIMERA_URG', 'SAT_02_PRIMERA_URG',
             'GLU_PRIMERA_URG', 'MOTIVO_ALTA_ING', 
             'UCI_DAYS']

main_ed = main[keep_list] # keep the listed columns

In [15]:
# Change dtypes
main_ed.IDINGRESO = main_ed.IDINGRESO.astype('str')

In [16]:
'''
# Replace commas with dots
for idx, val in enumerate(main_ed.TEMP_PRIMERA_URG):
    #print(idx, val)
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    main_ed.TEMP_PRIMERA_URG.iloc[idx] = main_ed.TEMP_PRIMERA_URG.iloc[idx].replace(',', '.')
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    
main_ed.TEMP_PRIMERA_URG

# Change dtype from object to float
main_ed.TEMP_PRIMERA_URG = main_ed.TEMP_PRIMERA_URG.astype(float)
'''

"\n# Replace commas with dots\nfor idx, val in enumerate(main_ed.TEMP_PRIMERA_URG):\n    #print(idx, val)\n    #print(labworks_ed.ITEM_LAB.iloc[idx])\n    main_ed.TEMP_PRIMERA_URG.iloc[idx] = main_ed.TEMP_PRIMERA_URG.iloc[idx].replace(',', '.')\n    #print(labworks_ed.ITEM_LAB.iloc[idx])\n    \nmain_ed.TEMP_PRIMERA_URG\n\n# Change dtype from object to float\nmain_ed.TEMP_PRIMERA_URG = main_ed.TEMP_PRIMERA_URG.astype(float)\n"

In [17]:
# Labworks_ed
labworks_ed.ITEM_LAB.unique()

array(['CREA -- CREATININA', 'PCR -- PROTEINA C REACTIVA',
       'DD -- DIMERO D'], dtype=object)

In [18]:
# Labworks_ed
print(f'Shape before: {labworks.shape}')

drop_list = ['LAB_NUMBER', 'LAB_DATE', 'TIME_LAB', 'UD_RESULT', 'REF_VALUES']
labworks_ed.drop(drop_list, axis=1, inplace=True)
labworks_ed.reset_index(inplace=True)
print(f'Shape after: {labworks_ed.shape}')

Shape before: (584370, 8)
Shape after: (33936, 4)

In [19]:
lab_tests = list(labworks_ed.ITEM_LAB.unique())
lab_tests

['CREA -- CREATININA', 'PCR -- PROTEINA C REACTIVA', 'DD -- DIMERO D']

In [20]:
# Change ID to str = Unique
labworks_ed.IDINGRESO = labworks_ed.IDINGRESO.astype('str')

# Change VAL_RESULT to float
labworks_ed.VAL_RESULT = pd.to_numeric(labworks_ed.VAL_RESULT, errors='coerce')

In [21]:
# Remove blank spaces before pivoting
for idx, val in enumerate(labworks_ed.ITEM_LAB):
    #print(idx, val)
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    labworks_ed.ITEM_LAB.iloc[idx] = labworks_ed.ITEM_LAB.iloc[idx].replace(' ', '')
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    
labworks_ed.ITEM_LAB

0              CREA--CREATININA
1        PCR--PROTEINACREACTIVA
2                   DD--DIMEROD
3        PCR--PROTEINACREACTIVA
4        PCR--PROTEINACREACTIVA
                  ...
33931    PCR--PROTEINACREACTIVA
33932               DD--DIMEROD
33933               DD--DIMEROD
33934    PCR--PROTEINACREACTIVA
33935    PCR--PROTEINACREACTIVA
Name: ITEM_LAB, Length: 33936, dtype: object

In [22]:
# Pivot labworks
labworks_piv = labworks_ed.pivot_table(index = 'IDINGRESO', columns = 'ITEM_LAB', values = 'VAL_RESULT')
labworks_piv

ITEM_LAB   CREA--CREATININA   DD--DIMEROD  PCR--PROTEINACREACTIVA
IDINGRESO
1                  1.460000  25131.000000              359.405000
10                 0.772222   5360.666667               31.501765
100                0.655000  16924.731707               68.541042
1001               1.890000    917.500000              107.390000
1002               0.615000   2998.000000              146.025000
...                     ...           ...                     ...
995                0.630000           NaN               22.730000
996                1.616667   2334.333333              155.440000
997                0.640000    462.000000               94.075000
998                0.890000   3593.500000               40.925000
999                0.792500    463.250000               76.420000

[2386 rows x 3 columns]

### Feature Engineering

In [23]:
# Insert new categorical column
main_ed.insert(loc = 6, column = 'PATIENT_OUTCOME', value = 'null')

In [24]:
for idx, val in enumerate(main.MOTIVO_ALTA_ING):
    #print(idx, val)
    
    if val == 'Domicilio': # Domicilio
        main_ed.PATIENT_OUTCOME[idx] = 'RECOVERED'
    
    elif val == 'Fallecimiento':
        main_ed.PATIENT_OUTCOME[idx] = 'DEATH'
        
    else:
        main_ed.PATIENT_OUTCOME[idx] = 'RECOVERY_IN_PROGRESS'

main_ed.PATIENT_OUTCOME

0                      DEATH
1                  RECOVERED
2                  RECOVERED
3                  RECOVERED
4                  RECOVERED
                ...
2542               RECOVERED
2543               RECOVERED
2544               RECOVERED
2545               RECOVERED
2546    RECOVERY_IN_PROGRESS
Name: PATIENT_OUTCOME, Length: 2547, dtype: object

In [25]:
main_ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EDAD                2547 non-null   int64
 1   SEX                 2547 non-null   object
 2   IDINGRESO           2547 non-null   object
 3   TA_MAX_PRIMERA_URG  2547 non-null   int64
 4   TA_MIN_PRIMERA_URG  2547 non-null   int64
 5   TEMP_PRIMERA_URG    2547 non-null   float64
 6   PATIENT_OUTCOME     2547 non-null   object
 7   FC_PRIMERA_URG      2547 non-null   int64
 8   SAT_02_PRIMERA_URG  2547 non-null   int64
 9   GLU_PRIMERA_URG     2547 non-null   int64
 10  MOTIVO_ALTA_ING     2498 non-null   object
 11  UCI_DAYS            228 non-null    float64
dtypes: float64(2), int64(6), object(4)
memory usage: 238.9+ KB

In [26]:
# Remove the last columns
main_ed = main_ed.drop('MOTIVO_ALTA_ING', axis = 1)

## Combine Tables

In [27]:
main_ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EDAD                2547 non-null   int64
 1   SEX                 2547 non-null   object
 2   IDINGRESO           2547 non-null   object
 3   TA_MAX_PRIMERA_URG  2547 non-null   int64
 4   TA_MIN_PRIMERA_URG  2547 non-null   int64
 5   TEMP_PRIMERA_URG    2547 non-null   float64
 6   PATIENT_OUTCOME     2547 non-null   object
 7   FC_PRIMERA_URG      2547 non-null   int64
 8   SAT_02_PRIMERA_URG  2547 non-null   int64
 9   GLU_PRIMERA_URG     2547 non-null   int64
 10  UCI_DAYS            228 non-null    float64
dtypes: float64(2), int64(6), object(3)
memory usage: 219.0+ KB

In [28]:
labworks_piv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2386 entries, 1 to 999
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CREA--CREATININA        2368 non-null   float64
 1   DD--DIMEROD             2187 non-null   float64
 2   PCR--PROTEINACREACTIVA  2353 non-null   float64
dtypes: float64(3)
memory usage: 74.6+ KB

In [29]:
data = main_ed.merge(labworks_piv, on = 'IDINGRESO')

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2383 entries, 0 to 2382
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EDAD                    2383 non-null   int64
 1   SEX                     2383 non-null   object
 2   IDINGRESO               2383 non-null   object
 3   TA_MAX_PRIMERA_URG      2383 non-null   int64
 4   TA_MIN_PRIMERA_URG      2383 non-null   int64
 5   TEMP_PRIMERA_URG        2383 non-null   float64
 6   PATIENT_OUTCOME         2383 non-null   object
 7   FC_PRIMERA_URG          2383 non-null   int64
 8   SAT_02_PRIMERA_URG      2383 non-null   int64
 9   GLU_PRIMERA_URG         2383 non-null   int64
 10  UCI_DAYS                212 non-null    float64
 11  CREA--CREATININA        2365 non-null   float64
 12  DD--DIMEROD             2184 non-null   float64
 13  PCR--PROTEINACREACTIVA  2350 non-null   float64
dtypes: float64(5), int64(6), object(3)
memory usage: 279.3+ KB

In [31]:
data.head()

,EDAD,SEX,IDINGRESO,TA_MAX_PRIMERA_URG,TA_MIN_PRIMERA_URG,TEMP_PRIMERA_URG,PATIENT_OUTCOME,FC_PRIMERA_URG,SAT_02_PRIMERA_URG,GLU_PRIMERA_URG,UCI_DAYS,CREA--CREATININA,DD--DIMEROD,PCR--PROTEINACREACTIVA
0,85,MALE,1,147,68,36.1,DEATH,67,95,0,NaN,1.460000,25131.000000,359.405000
1,68,FEMALE,8,0,0,0.0,RECOVERY_IN_PROGRESS,0,0,0,0.0,0.605000,37232.500000,98.445000
2,68,FEMALE,9,0,0,0.0,DEATH,0,0,0,42.0,0.340323,4094.210526,112.249412
3,63,MALE,10,0,0,0.0,RECOVERED,0,0,0,20.0,0.772222,5360.666667,31.501765
4,59,MALE,11,0,0,0.0,RECOVERED,0,0,0,6.0,0.517692,2722.666667,15.789286

### One-Hot Encoding

In [32]:
# Sex
data[['FEMALE', 'MALE']] = pd.get_dummies(data.SEX)

In [33]:
sorted(list(data.PATIENT_OUTCOME.unique()))

['DEATH', 'RECOVERED', 'RECOVERY_IN_PROGRESS']

In [34]:
# PATIENT_OUTCOME
sorted_list = sorted(list(data.PATIENT_OUTCOME.unique()))
data[sorted_list]=pd.get_dummies(data.PATIENT_OUTCOME)

In [35]:
# Remove the orgiginal columns
data = data.drop(['SEX', 'PATIENT_OUTCOME'], axis=1)

## Save Cleaned Data

In [36]:
# Saving data batch 2
path = 'data/'
file_name = 'cleaned_data_v1-2.csv'
file_path = path + file_name
data.to_csv(file_path)