# Feature Selection & Cleaning
Data-batch 3 of 3.

## Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sb
import warnings

%matplotlib inline

color = sb.color_palette("Set2")[0]
palette = sb.color_palette("Set2")

In [2]:
file_path = '../data/01.csv'
data21 = pd.read_csv(file_path, sep=';', encoding = 'ISO-8859-1')
data21.head()

,PATIENT ID,EDAD/AGE,SEXO/SEX,DIAG ING/INPAT,F_INGRESO/ADMISSION_D_ING/INPAT,F_ENTRADA_UC/ICU_DATE_IN,F_SALIDA_UCI/ICU_DATE_OUT,UCI_DIAS/ICU_DAYS,F_ALTA/DISCHARGE_DATE_ING,MOTIVO_ALTA/DESTINY_DISCHARGE_ING,...,SAT_02_PRIMERA/FIRST_URG/EMERG,TA_MAX_PRIMERA/FIRST/EMERG_URG,TA_MIN_PRIMERA/FIRST_URG/EMERG,HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG,FC/HR_ULTIMA/LAST_URG/EMERG,TEMP_ULTIMA/LAST_URG/EMERG,GLU_ULTIMA/LAST_URG/EMERG,SAT_02_ULTIMA/LAST_URG/EMERG,TA_MAX_ULTIMA/LAST_URGEMERG,TA_MIN_ULTIMA/LAST_URG/EMERG
0,577,78,MALE,COVID19 - POSITIVO,26/12/2019,26/12/2019 17:12,27/12/2019 12:22,1.0,02/04/2020,Domicilio,...,0,0,0,NaN,0,0,0,0,0,0
1,44,75,FEMALE,COVID19 - POSITIVO,28/01/2020,30/01/2020 13:03,31/01/2020 17:08,1.0,04/04/2020,Domicilio,...,0,0,0,NaN,0,0,0,0,0,0
2,585,62,FEMALE,COVID19 - POSITIVO,05/02/2020,10/03/2020 14:20,20/03/2020 14:11,10.0,26/03/2020,Domicilio,...,97,160,101,18:34:00,105,0,0,97,160,101
3,587,69,MALE,COVID19 - POSITIVO,06/02/2020,NaN,NaN,NaN,24/03/2020,Domicilio,...,95,141,83,18:54:00,92,37,0,95,141,83
4,586,67,FEMALE,COVID19 - POSITIVO,06/02/2020,NaN,NaN,NaN,28/03/2020,Fallecimiento,...,93,151,82,0:55:00,84,36,0,93,151,82

In [18]:
data21.rename(columns={'PATIENT ID': 'IDINGRESO',
                      'EDAD/AGE': 'EDAD',
                      'SEXO/SEX': 'SEX',
                      'MOTIVO_ALTA/DESTINY_DISCHARGE_ING': 'MOTIVO_ALTA_ING',
                      'TA_MAX_PRIMERA/FIRST/EMERG_URG': 'TA_MAX_PRIMERA_URG',
                      'TA_MIN_PRIMERA/FIRST_URG/EMERG': 'TA_MIN_PRIMERA_URG',
                      'TEMP_PRIMERA/FIRST_URG/EMERG': 'TEMP_PRIMERA_URG',
                      'FC/HR_PRIMERA/FIRST_URG/EMERG': 'FC_PRIMERA_URG',
                      'SAT_02_PRIMERA/FIRST_URG/EMERG': 'SAT_02_PRIMERA_URG',
                      'GLU_PRIMERA/FIRST_URG/EMERG': 'GLU_PRIMERA_URG',
                      'UCI_DIAS/ICU_DAYS': 'UCI_DAYS'}, inplace=True)

In [19]:
data21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 29 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   IDINGRESO                                   2307 non-null   int64
 1   EDAD                                        2307 non-null   int64
 2   SEX                                         2307 non-null   object
 3   DIAG ING/INPAT                              2307 non-null   object
 4   F_INGRESO/ADMISSION_D_ING/INPAT             2307 non-null   object
 5   F_ENTRADA_UC/ICU_DATE_IN                    219 non-null    object
 6   F_SALIDA_UCI/ICU_DATE_OUT                   201 non-null    object
 7   UCI_DAYS                                    201 non-null    float64
 8   F_ALTA/DISCHARGE_DATE_ING                   2089 non-null   object
 9   MOTIVO_ALTA_ING                             2048 non-null   object
 10  F_INGRESO/ADMISSION_DATE_URG/EMERG          2224 non-null   object
 11  HORA/TIME_ADMISION/ADMISSION_URG/EMERG      2224 non-null   object
 12  ESPECIALIDAD/DEPARTMENT_URG/EMERG           2224 non-null   object
 13  DIAG_URG/EMERG                              2224 non-null   object
 14  DESTINO/DESTINY_URG/EMERG                   2224 non-null   object
 15  HORA/TIME_CONSTANT_PRIMERA/FIRST_URG/EMERG  1850 non-null   object
 16  TEMP_PRIMERA_URG                            2307 non-null   object
 17  FC_PRIMERA_URG                              2307 non-null   int64
 18  GLU_PRIMERA_URG                             2307 non-null   int64
 19  SAT_02_PRIMERA_URG                          2307 non-null   int64
 20  TA_MAX_PRIMERA_URG                          2307 non-null   int64
 21  TA_MIN_PRIMERA_URG                          2307 non-null   int64
 22  HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG    2224 non-null   object
 23  FC/HR_ULTIMA/LAST_URG/EMERG                 2307 non-null   int64
 24  TEMP_ULTIMA/LAST_URG/EMERG                  2307 non-null   object
 25  GLU_ULTIMA/LAST_URG/EMERG                   2307 non-null   int64
 26  SAT_02_ULTIMA/LAST_URG/EMERG                2307 non-null   int64
 27  TA_MAX_ULTIMA/LAST_URGEMERG                 2307 non-null   int64
 28  TA_MIN_ULTIMA/LAST_URG/EMERG                2307 non-null   int64
dtypes: float64(1), int64(12), object(16)
memory usage: 522.8+ KB

In [3]:
# Lab table
warnings.simplefilter('ignore')
file_path = '../data/04.csv'
data24 = pd.read_csv(file_path, sep=';', encoding = 'ISO-8859-1', error_bad_lines = False)
data24.head()

b'Skipping line 416: expected 8 fields, saw 11\nSkipping line 1470: expected 8 fields, saw 10\nSkipping line 2629: expected 8 fields, saw 12\nSkipping line 4854: expected 8 fields, saw 12\nSkipping line 7572: expected 8 fields, saw 12\nSkipping line 10588: expected 8 fields, saw 11\nSkipping line 14514: expected 8 fields, saw 12\nSkipping line 17587: expected 8 fields, saw 12\nSkipping line 20619: expected 8 fields, saw 12\nSkipping line 20779: expected 8 fields, saw 12\nSkipping line 23010: expected 8 fields, saw 9\nSkipping line 23156: expected 8 fields, saw 9\nSkipping line 23294: expected 8 fields, saw 9\nSkipping line 25352: expected 8 fields, saw 9\nSkipping line 31075: expected 8 fields, saw 9\nSkipping line 32877: expected 8 fields, saw 12\nSkipping line 34630: expected 8 fields, saw 9\nSkipping line 36480: expected 8 fields, saw 12\nSkipping line 36713: expected 8 fields, saw 9\nSkipping line 37148: expected 8 fields, saw 13\nSkipping line 37393: expected 8 fields, saw 12\nSkipping line 39339: expected 8 fields, saw 14\nSkipping line 40869: expected 8 fields, saw 12\nSkipping line 43567: expected 8 fields, saw 9\nSkipping line 48168: expected 8 fields, saw 12\nSkipping line 53462: expected 8 fields, saw 10\nSkipping line 55796: expected 8 fields, saw 12\nSkipping line 56020: expected 8 fields, saw 17\nSkipping line 56102: expected 8 fields, saw 9\nSkipping line 57724: expected 8 fields, saw 9\nSkipping line 59357: expected 8 fields, saw 12\nSkipping line 61901: expected 8 fields, saw 12\nSkipping line 62185: expected 8 fields, saw 12\n'
b'Skipping line 65674: expected 8 fields, saw 9\nSkipping line 67434: expected 8 fields, saw 12\nSkipping line 68554: expected 8 fields, saw 13\nSkipping line 69683: expected 8 fields, saw 12\nSkipping line 69688: expected 8 fields, saw 12\nSkipping line 70869: expected 8 fields, saw 9\nSkipping line 71664: expected 8 fields, saw 12\nSkipping line 73877: expected 8 fields, saw 13\nSkipping line 74953: expected 8 fields, saw 9\nSkipping line 76764: expected 8 fields, saw 14\nSkipping line 80746: expected 8 fields, saw 11\nSkipping line 85072: expected 8 fields, saw 9\nSkipping line 86432: expected 8 fields, saw 9\nSkipping line 87377: expected 8 fields, saw 11\nSkipping line 89566: expected 8 fields, saw 12\nSkipping line 93849: expected 8 fields, saw 9\nSkipping line 100897: expected 8 fields, saw 10\nSkipping line 101738: expected 8 fields, saw 9\nSkipping line 104609: expected 8 fields, saw 12\nSkipping line 106407: expected 8 fields, saw 12\nSkipping line 107062: expected 8 fields, saw 12\nSkipping line 108299: expected 8 fields, saw 9\nSkipping line 113899: expected 8 fields, saw 12\nSkipping line 115566: expected 8 fields, saw 9\nSkipping line 117951: expected 8 fields, saw 9\nSkipping line 119229: expected 8 fields, saw 12\nSkipping line 119263: expected 8 fields, saw 12\nSkipping line 119555: expected 8 fields, saw 12\nSkipping line 121395: expected 8 fields, saw 12\nSkipping line 121441: expected 8 fields, saw 12\nSkipping line 121482: expected 8 fields, saw 12\nSkipping line 122260: expected 8 fields, saw 12\nSkipping line 123338: expected 8 fields, saw 12\nSkipping line 123670: expected 8 fields, saw 12\nSkipping line 124849: expected 8 fields, saw 9\nSkipping line 127490: expected 8 fields, saw 12\nSkipping line 127605: expected 8 fields, saw 10\nSkipping line 130366: expected 8 fields, saw 13\n'
b'Skipping line 131251: expected 8 fields, saw 12\nSkipping line 131635: expected 8 fields, saw 12\nSkipping line 131817: expected 8 fields, saw 12\nSkipping line 132593: expected 8 fields, saw 12\nSkipping line 133443: expected 8 fields, saw 12\nSkipping line 136741: expected 8 fields, saw 9\nSkipping line 136757: expected 8 fields, saw 9\nSkipping line 138102: expected 8 fields, saw 9\nSkipping line 140394: expected 8 fields, saw 10\nSkipping line 141827: expected 8 fields, saw 14\nSkipping line 145934: expected 8 fields, saw 9\nSkipping line 146260: expected 8 fields, saw 13\nSkipping line 148812: expected 8 fields, saw 11\nSkipping line 152238: expected 8 fields, saw 9\nSkipping line 152373: expected 8 fields, saw 11\nSkipping line 159171: expected 8 fields, saw 10\nSkipping line 159390: expected 8 fields, saw 9\nSkipping line 159622: expected 8 fields, saw 9\nSkipping line 160266: expected 8 fields, saw 9\nSkipping line 161324: expected 8 fields, saw 10\nSkipping line 162229: expected 8 fields, saw 12\nSkipping line 163363: expected 8 fields, saw 9\nSkipping line 170167: expected 8 fields, saw 12\nSkipping line 171557: expected 8 fields, saw 12\nSkipping line 175182: expected 8 fields, saw 12\nSkipping line 176738: expected 8 fields, saw 9\nSkipping line 179996: expected 8 fields, saw 9\nSkipping line 181516: expected 8 fields, saw 12\nSkipping line 181612: expected 8 fields, saw 9\nSkipping line 181958: expected 8 fields, saw 10\nSkipping line 182090: expected 8 fields, saw 11\nSkipping line 183044: expected 8 fields, saw 9\nSkipping line 183051: expected 8 fields, saw 10\nSkipping line 184899: expected 8 fields, saw 9\nSkipping line 185993: expected 8 fields, saw 9\nSkipping line 188792: expected 8 fields, saw 12\nSkipping line 191301: expected 8 fields, saw 9\nSkipping line 196084: expected 8 fields, saw 14\n'
b'Skipping line 198634: expected 8 fields, saw 9\nSkipping line 198972: expected 8 fields, saw 9\nSkipping line 199117: expected 8 fields, saw 9\nSkipping line 203943: expected 8 fields, saw 9\nSkipping line 204255: expected 8 fields, saw 9\nSkipping line 207581: expected 8 fields, saw 12\nSkipping line 208050: expected 8 fields, saw 12\nSkipping line 210025: expected 8 fields, saw 9\nSkipping line 212118: expected 8 fields, saw 10\nSkipping line 214383: expected 8 fields, saw 10\nSkipping line 218800: expected 8 fields, saw 12\nSkipping line 219351: expected 8 fields, saw 12\nSkipping line 220068: expected 8 fields, saw 10\nSkipping line 226157: expected 8 fields, saw 12\nSkipping line 230160: expected 8 fields, saw 10\nSkipping line 230671: expected 8 fields, saw 9\nSkipping line 233519: expected 8 fields, saw 12\nSkipping line 234714: expected 8 fields, saw 12\nSkipping line 236814: expected 8 fields, saw 9\nSkipping line 237379: expected 8 fields, saw 9\nSkipping line 250529: expected 8 fields, saw 11\nSkipping line 253644: expected 8 fields, saw 12\nSkipping line 257374: expected 8 fields, saw 9\nSkipping line 261023: expected 8 fields, saw 11\nSkipping line 261891: expected 8 fields, saw 12\n'
b'Skipping line 267323: expected 8 fields, saw 9\nSkipping line 267948: expected 8 fields, saw 9\nSkipping line 268804: expected 8 fields, saw 9\nSkipping line 273311: expected 8 fields, saw 9\nSkipping line 273834: expected 8 fields, saw 9\nSkipping line 274671: expected 8 fields, saw 11\nSkipping line 274892: expected 8 fields, saw 9\nSkipping line 275895: expected 8 fields, saw 12\nSkipping line 278497: expected 8 fields, saw 12\nSkipping line 278826: expected 8 fields, saw 9\nSkipping line 281745: expected 8 fields, saw 9\nSkipping line 284263: expected 8 fields, saw 12\nSkipping line 284460: expected 8 fields, saw 11\nSkipping line 285916: expected 8 fields, saw 14\nSkipping line 286718: expected 8 fields, saw 11\nSkipping line 287318: expected 8 fields, saw 11\nSkipping line 288199: expected 8 fields, saw 10\nSkipping line 289711: expected 8 fields, saw 11\nSkipping line 291060: expected 8 fields, saw 11\nSkipping line 291266: expected 8 fields, saw 9\nSkipping line 291454: expected 8 fields, saw 12\nSkipping line 299812: expected 8 fields, saw 13\nSkipping line 306709: expected 8 fields, saw 12\nSkipping line 308095: expected 8 fields, saw 9\nSkipping line 310812: expected 8 fields, saw 9\nSkipping line 310815: expected 8 fields, saw 9\nSkipping line 315640: expected 8 fields, saw 9\nSkipping line 316983: expected 8 fields, saw 12\nSkipping line 320099: expected 8 fields, saw 9\nSkipping line 322307: expected 8 fields, saw 10\nSkipping line 322797: expected 8 fields, saw 10\nSkipping line 325664: expected 8 fields, saw 14\n'
b'Skipping line 328179: expected 8 fields, saw 9\nSkipping line 329428: expected 8 fields, saw 12\nSkipping line 330022: expected 8 fields, saw 12\nSkipping line 331501: expected 8 fields, saw 9\nSkipping line 333607: expected 8 fields, saw 9\nSkipping line 334371: expected 8 fields, saw 12\nSkipping line 334423: expected 8 fields, saw 9\nSkipping line 342117: expected 8 fields, saw 12\nSkipping line 346647: expected 8 fields, saw 9\nSkipping line 349996: expected 8 fields, saw 12\nSkipping line 352950: expected 8 fields, saw 9\nSkipping line 356848: expected 8 fields, saw 12\nSkipping line 359496: expected 8 fields, saw 12\nSkipping line 359721: expected 8 fields, saw 12\nSkipping line 361174: expected 8 fields, saw 9\nSkipping line 363256: expected 8 fields, saw 9\nSkipping line 363572: expected 8 fields, saw 12\nSkipping line 368904: expected 8 fields, saw 10\nSkipping line 371072: expected 8 fields, saw 9\nSkipping line 375782: expected 8 fields, saw 11\nSkipping line 376219: expected 8 fields, saw 12\nSkipping line 377261: expected 8 fields, saw 11\nSkipping line 379082: expected 8 fields, saw 11\nSkipping line 379097: expected 8 fields, saw 10\nSkipping line 385849: expected 8 fields, saw 12\nSkipping line 386072: expected 8 fields, saw 9\nSkipping line 387209: expected 8 fields, saw 9\nSkipping line 388320: expected 8 fields, saw 12\nSkipping line 390236: expected 8 fields, saw 9\nSkipping line 390479: expected 8 fields, saw 9\nSkipping line 392877: expected 8 fields, saw 9\n'

,PATIENT ID,PETICION_LABORATORIO/LAB_NUMBER,FECHA_PETICION/LAB_DATE,HORA_PETICION/TIME_LAB,DETERMINACION/ITEM_LAB,RESULTADO/VAL_RESULT,UNIDADES/UD_RESULT,VALORES_REFERENCIA/REF_VALUES
0,1,I-1,08-04-2020,00:00,GOT -- GOT (AST),215.0,U/L,<41
1,1,I-1,08-04-2020,00:00,LIN% -- Linfocitos %,3.0,%,(20.0 - 50.0)
2,1,I-1,08-04-2020,00:00,MONO -- Monocitos,0.12,x10e3/ÂµL,(0.1 - 0.8)
3,1,I-2,07-04-2020,00:00,BAS -- BasÃ³filos,0.02,x10e3/ÂµL,(0.0 - 0.3)
4,1,I-2,07-04-2020,00:00,BT -- BILIRRUBINA TOTAL ...,0.43,mg/dL,<1.2

In [9]:
data24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395858 entries, 0 to 395857
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   IDINGRESO   395858 non-null  int64
 1   LAB_NUMBER  395858 non-null  object
 2   LAB_DATE    395858 non-null  object
 3   TIME_LAB    395858 non-null  object
 4   ITEM_LAB    395858 non-null  object
 5   VAL_RESULT  395851 non-null  object
 6   UD_RESULT   373464 non-null  object
 7   REF_VALUES  386679 non-null  object
dtypes: int64(1), object(7)
memory usage: 24.2+ MB

In [8]:
data24.rename(columns={'PATIENT ID': 'IDINGRESO',
                      'PETICION_LABORATORIO/LAB_NUMBER': 'LAB_NUMBER',
                      'FECHA_PETICION/LAB_DATE': 'LAB_DATE',
                      'HORA_PETICION/TIME_LAB': 'TIME_LAB',
                      'DETERMINACION/ITEM_LAB': 'ITEM_LAB',
                      'RESULTADO/VAL_RESULT': 'VAL_RESULT',
                      'UNIDADES/UD_RESULT': 'UD_RESULT',
                      'VALORES_REFERENCIA/REF_VALUES': 'REF_VALUES'}, inplace=True)

## Cleaning
Table 1 = Main
- Remove the patient who escaped from the hospital and reindex
- Create categorical variabel of "Mortivo_alta" column: "Recovery", "Recovery in Progress", "Death"

Table 6 = Labworks
- Pivot pressumed important lab tests

Combination table
- Combine the main table & the pivoted labworks

In [20]:
# Always clean of copied df
main = data21.copy()
labworks = data24.copy()

In [21]:
# Remove the one patient who escaped from the hospital from main
# drop_idx = main[main.MOTIVO_ALTA_ING == 'Fuga'].index[0]
# main.drop(index = drop_idx, axis=0, inplace=True)

In [22]:
# Test removal
# sum(main[main.index == drop_idx].index == drop_idx)

In [23]:
# Reset index main
main.reset_index(inplace=True)

In [24]:
# Pivot labworks
tests = ['PLAQ -- SISTEMATICO DE SANGRE', 'PCR -- PROTEINA C REACTIVA', 'CREA -- CREATININA', 'LIN -- SISTEMATICO DE SANGRE', 'DD -- DIMERO D']
labworks_ed = labworks[labworks.ITEM_LAB.isin(tests)]
labworks_ed

,IDINGRESO,LAB_NUMBER,LAB_DATE,TIME_LAB,ITEM_LAB,VAL_RESULT,UD_RESULT,REF_VALUES
33,13,I-12,31-03-2020,00:00,PCR -- PROTEINA C REACTIVA,63.54,mg/L,<5
39,13,I-14,30-03-2020,00:00,PCR -- PROTEINA C REACTIVA,28.99,mg/L,<5
134,13,I-7,29-03-2020,00:00,CREA -- CREATININA,0.56,mg/dL,(0.7 - 1.2)
137,13,I-7,29-03-2020,00:00,PCR -- PROTEINA C REACTIVA,18.16,mg/L,<5
171,14,I-13,25-03-2020,00:00,PCR -- PROTEINA C REACTIVA,6.85,mg/L,<5
...,...,...,...,...,...,...,...,...
395751,2278,I-1,13-04-2020,00:00,CREA -- CREATININA,1.28,mg/dL,(0.7 - 1.2)
395758,2279,I-1,12-04-2020,00:00,DD -- DIMERO D,2044.0,ng/mL,<500^
395774,2282,U-1,11-04-2020,23:58,DD -- DIMERO D,74803.0,ng/mL,<500^
395849,2288,U-1,11-04-2020,12:38,DD -- DIMERO D,828.0,ng/mL,<500^
395854,2289,I-1,13-04-2020,00:00,DD -- DIMERO D,452.0,ng/mL,<500^

In [25]:
labworks_ed.ITEM_LAB.unique()

array(['PCR -- PROTEINA C REACTIVA', 'CREA -- CREATININA',
       'DD -- DIMERO D'], dtype=object)

### Feature Reduction

In [26]:
main.head()

,index,IDINGRESO,EDAD,SEX,DIAG ING/INPAT,F_INGRESO/ADMISSION_D_ING/INPAT,F_ENTRADA_UC/ICU_DATE_IN,F_SALIDA_UCI/ICU_DATE_OUT,UCI_DAYS,F_ALTA/DISCHARGE_DATE_ING,...,SAT_02_PRIMERA_URG,TA_MAX_PRIMERA_URG,TA_MIN_PRIMERA_URG,HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG,FC/HR_ULTIMA/LAST_URG/EMERG,TEMP_ULTIMA/LAST_URG/EMERG,GLU_ULTIMA/LAST_URG/EMERG,SAT_02_ULTIMA/LAST_URG/EMERG,TA_MAX_ULTIMA/LAST_URGEMERG,TA_MIN_ULTIMA/LAST_URG/EMERG
0,0,577,78,MALE,COVID19 - POSITIVO,26/12/2019,26/12/2019 17:12,27/12/2019 12:22,1.0,02/04/2020,...,0,0,0,NaN,0,0,0,0,0,0
1,1,44,75,FEMALE,COVID19 - POSITIVO,28/01/2020,30/01/2020 13:03,31/01/2020 17:08,1.0,04/04/2020,...,0,0,0,NaN,0,0,0,0,0,0
2,2,585,62,FEMALE,COVID19 - POSITIVO,05/02/2020,10/03/2020 14:20,20/03/2020 14:11,10.0,26/03/2020,...,97,160,101,18:34:00,105,0,0,97,160,101
3,3,587,69,MALE,COVID19 - POSITIVO,06/02/2020,NaN,NaN,NaN,24/03/2020,...,95,141,83,18:54:00,92,37,0,95,141,83
4,4,586,67,FEMALE,COVID19 - POSITIVO,06/02/2020,NaN,NaN,NaN,28/03/2020,...,93,151,82,0:55:00,84,36,0,93,151,82

In [27]:
# Main
keep_list = ['EDAD', 'SEX', 'IDINGRESO',
             'TA_MAX_PRIMERA_URG', 'TA_MIN_PRIMERA_URG',
             'TEMP_PRIMERA_URG', 'FC_PRIMERA_URG', 'SAT_02_PRIMERA_URG',
             'GLU_PRIMERA_URG', 'MOTIVO_ALTA_ING', 
             'UCI_DAYS']

main_ed = main[keep_list] # keep the listed columns

In [28]:
# Change dtypes
main_ed.IDINGRESO = main_ed.IDINGRESO.astype('str')

In [29]:
'''
# Replace commas with dots
for idx, val in enumerate(main_ed.TEMP_PRIMERA_URG):
    #print(idx, val)
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    main_ed.TEMP_PRIMERA_URG.iloc[idx] = main_ed.TEMP_PRIMERA_URG.iloc[idx].replace(',', '.')
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    
main_ed.TEMP_PRIMERA_URG

# Change dtype from object to float
main_ed.TEMP_PRIMERA_URG = main_ed.TEMP_PRIMERA_URG.astype(float)
'''

"\n# Replace commas with dots\nfor idx, val in enumerate(main_ed.TEMP_PRIMERA_URG):\n    #print(idx, val)\n    #print(labworks_ed.ITEM_LAB.iloc[idx])\n    main_ed.TEMP_PRIMERA_URG.iloc[idx] = main_ed.TEMP_PRIMERA_URG.iloc[idx].replace(',', '.')\n    #print(labworks_ed.ITEM_LAB.iloc[idx])\n    \nmain_ed.TEMP_PRIMERA_URG\n\n# Change dtype from object to float\nmain_ed.TEMP_PRIMERA_URG = main_ed.TEMP_PRIMERA_URG.astype(float)\n"

In [30]:
# Labworks_ed
labworks_ed.ITEM_LAB.unique()

array(['PCR -- PROTEINA C REACTIVA', 'CREA -- CREATININA',
       'DD -- DIMERO D'], dtype=object)

In [31]:
# Labworks_ed
print(f'Shape before: {labworks.shape}')

drop_list = ['LAB_NUMBER', 'LAB_DATE', 'TIME_LAB', 'UD_RESULT', 'REF_VALUES']
labworks_ed.drop(drop_list, axis=1, inplace=True)
labworks_ed.reset_index(inplace=True)
print(f'Shape after: {labworks_ed.shape}')

Shape before: (395858, 8)
Shape after: (23598, 4)

In [32]:
lab_tests = list(labworks_ed.ITEM_LAB.unique())
lab_tests

['PCR -- PROTEINA C REACTIVA', 'CREA -- CREATININA', 'DD -- DIMERO D']

In [33]:
# Change ID to str = Unique
labworks_ed.IDINGRESO = labworks_ed.IDINGRESO.astype('str')

# Change VAL_RESULT to float
labworks_ed.VAL_RESULT = pd.to_numeric(labworks_ed.VAL_RESULT, errors='coerce')

In [34]:
# Remove blank spaces before pivoting
for idx, val in enumerate(labworks_ed.ITEM_LAB):
    #print(idx, val)
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    labworks_ed.ITEM_LAB.iloc[idx] = labworks_ed.ITEM_LAB.iloc[idx].replace(' ', '')
    #print(labworks_ed.ITEM_LAB.iloc[idx])
    
labworks_ed.ITEM_LAB

0        PCR--PROTEINACREACTIVA
1        PCR--PROTEINACREACTIVA
2              CREA--CREATININA
3        PCR--PROTEINACREACTIVA
4        PCR--PROTEINACREACTIVA
                  ...
23593          CREA--CREATININA
23594               DD--DIMEROD
23595               DD--DIMEROD
23596               DD--DIMEROD
23597               DD--DIMEROD
Name: ITEM_LAB, Length: 23598, dtype: object

In [35]:
# Pivot labworks
labworks_piv = labworks_ed.pivot_table(index = 'IDINGRESO', columns = 'ITEM_LAB', values = 'VAL_RESULT')
labworks_piv

ITEM_LAB   CREA--CREATININA   DD--DIMEROD  PCR--PROTEINACREACTIVA
IDINGRESO
1                  1.460000  25131.000000              359.405000
100                0.857500  23514.857143               63.411364
1001               1.890000    917.500000              107.390000
1002               0.615000   2998.000000              146.025000
1003               1.060000   1209.000000              117.053333
...                     ...           ...                     ...
995                0.630000           NaN               22.730000
996                1.616667   2334.333333              155.440000
997                0.640000    462.000000               94.075000
998                0.890000   3593.500000               40.925000
999                0.792500    463.250000               76.420000

[2049 rows x 3 columns]

### Feature Engineering

In [36]:
# Insert new categorical column
main_ed.insert(loc = 6, column = 'PATIENT_OUTCOME', value = 'null')

In [37]:
for idx, val in enumerate(main.MOTIVO_ALTA_ING):
    #print(idx, val)
    
    if val == 'Domicilio': # Domicilio
        main_ed.PATIENT_OUTCOME[idx] = 'RECOVERED'
    
    elif val == 'Fallecimiento':
        main_ed.PATIENT_OUTCOME[idx] = 'DEATH'
        
    else:
        main_ed.PATIENT_OUTCOME[idx] = 'RECOVERY_IN_PROGRESS'

main_ed.PATIENT_OUTCOME

0                  RECOVERED
1                  RECOVERED
2                  RECOVERED
3                  RECOVERED
4                      DEATH
                ...
2302    RECOVERY_IN_PROGRESS
2303               RECOVERED
2304    RECOVERY_IN_PROGRESS
2305               RECOVERED
2306               RECOVERED
Name: PATIENT_OUTCOME, Length: 2307, dtype: object

In [38]:
main_ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EDAD                2307 non-null   int64
 1   SEX                 2307 non-null   object
 2   IDINGRESO           2307 non-null   object
 3   TA_MAX_PRIMERA_URG  2307 non-null   int64
 4   TA_MIN_PRIMERA_URG  2307 non-null   int64
 5   TEMP_PRIMERA_URG    2307 non-null   object
 6   PATIENT_OUTCOME     2307 non-null   object
 7   FC_PRIMERA_URG      2307 non-null   int64
 8   SAT_02_PRIMERA_URG  2307 non-null   int64
 9   GLU_PRIMERA_URG     2307 non-null   int64
 10  MOTIVO_ALTA_ING     2048 non-null   object
 11  UCI_DAYS            201 non-null    float64
dtypes: float64(1), int64(6), object(5)
memory usage: 216.4+ KB

In [39]:
# Remove the last columns
main_ed = main_ed.drop('MOTIVO_ALTA_ING', axis = 1)

## Combine Tables

In [40]:
main_ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2307 entries, 0 to 2306
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EDAD                2307 non-null   int64
 1   SEX                 2307 non-null   object
 2   IDINGRESO           2307 non-null   object
 3   TA_MAX_PRIMERA_URG  2307 non-null   int64
 4   TA_MIN_PRIMERA_URG  2307 non-null   int64
 5   TEMP_PRIMERA_URG    2307 non-null   object
 6   PATIENT_OUTCOME     2307 non-null   object
 7   FC_PRIMERA_URG      2307 non-null   int64
 8   SAT_02_PRIMERA_URG  2307 non-null   int64
 9   GLU_PRIMERA_URG     2307 non-null   int64
 10  UCI_DAYS            201 non-null    float64
dtypes: float64(1), int64(6), object(4)
memory usage: 198.4+ KB

In [41]:
labworks_piv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2049 entries, 1 to 999
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CREA--CREATININA        2030 non-null   float64
 1   DD--DIMEROD             1859 non-null   float64
 2   PCR--PROTEINACREACTIVA  2026 non-null   float64
dtypes: float64(3)
memory usage: 64.0+ KB

In [42]:
data = main_ed.merge(labworks_piv, on = 'IDINGRESO')

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2048 entries, 0 to 2047
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EDAD                    2048 non-null   int64
 1   SEX                     2048 non-null   object
 2   IDINGRESO               2048 non-null   object
 3   TA_MAX_PRIMERA_URG      2048 non-null   int64
 4   TA_MIN_PRIMERA_URG      2048 non-null   int64
 5   TEMP_PRIMERA_URG        2048 non-null   object
 6   PATIENT_OUTCOME         2048 non-null   object
 7   FC_PRIMERA_URG          2048 non-null   int64
 8   SAT_02_PRIMERA_URG      2048 non-null   int64
 9   GLU_PRIMERA_URG         2048 non-null   int64
 10  UCI_DAYS                175 non-null    float64
 11  CREA--CREATININA        2029 non-null   float64
 12  DD--DIMEROD             1858 non-null   float64
 13  PCR--PROTEINACREACTIVA  2025 non-null   float64
dtypes: float64(4), int64(6), object(4)
memory usage: 240.0+ KB

In [44]:
data.head()

,EDAD,SEX,IDINGRESO,TA_MAX_PRIMERA_URG,TA_MIN_PRIMERA_URG,TEMP_PRIMERA_URG,PATIENT_OUTCOME,FC_PRIMERA_URG,SAT_02_PRIMERA_URG,GLU_PRIMERA_URG,UCI_DAYS,CREA--CREATININA,DD--DIMEROD,PCR--PROTEINACREACTIVA
0,78,MALE,577,0,0,0,RECOVERED,0,0,0,1.0,0.773544,2009.000000,122.891268
1,75,FEMALE,44,0,0,0,RECOVERED,0,0,0,1.0,1.001282,810.166667,54.410800
2,62,FEMALE,585,160,101,0,RECOVERED,105,97,0,10.0,0.434615,1346.000000,76.676316
3,69,MALE,587,141,83,"37,09999847",RECOVERED,92,95,0,NaN,0.567333,1309.000000,38.168571
4,67,FEMALE,586,151,82,36,DEATH,84,93,0,NaN,0.370000,3097.666667,53.270000

### One-Hot Encoding

In [45]:
# Sex
data[['FEMALE', 'MALE']] = pd.get_dummies(data.SEX)

In [46]:
sorted(list(data.PATIENT_OUTCOME.unique()))

['DEATH', 'RECOVERED', 'RECOVERY_IN_PROGRESS']

In [47]:
# PATIENT_OUTCOME
sorted_list = sorted(list(data.PATIENT_OUTCOME.unique()))
data[sorted_list]=pd.get_dummies(data.PATIENT_OUTCOME)

In [48]:
# Remove the orgiginal columns
data = data.drop(['SEX', 'PATIENT_OUTCOME'], axis=1)

## Save Cleaned Data

In [50]:
# Saving data batch 1

path = 'data/'
file_name = 'cleaned_data_v1-3.csv'
file_path = path + file_name
data.to_csv(file_path)